<form class="task" #taskForm="ngForm">
  <div class="form-row">
    <!-- Nazwa taska -->
    <div class="form-group col-md-6">
      <label for = "taskName" >Add task name</label>
      <input class="form-control" placeholder="Task name" name="TaskName" #TaskName="ngModel" [(ngModel)]="taskService.selectedTask.TaskName">
    </div>
    <!-- Data taska -->
    <div class="form-group col-md-6">
        <label for="taskDate" >Add task date</label>
        <input type="date" class="form-control" name="TaskDate" #TaskDate="ngModel" [(ngModel)]="taskService.selectedTask.TaskDate"/>
      </div>
      <!--Opis taska -->
    <div class="form-group col-md-6">
      <label for="taskDescription">Add task description</label>
      <textarea class="form-control" placeholder="Task description" name="TaskDescription"
       #TaskDescription="ngModel" [(ngModel)]="taskService.selectedTask.TaskDescription">
      </textarea>
    </div>
    
    <!-- Slider trudnosci taska -->
    <div class="form-group col-md-6">
      <label for="customRange1">Dificulty</label>
      <input type="range" class="custom-range" min="0" max="10" step="1" name="TaskDificulty" #TaskDificulty="ngModel" [(ngModel)]="taskService.selectedTask.TaskDificulty">
      
        <!-- Button submitu -->
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-lg btn-block btn-primary">
          <i class="far fa-save"></i>
       Submit
      </button>
    </div>
    <!-- Button resetu (dzialajacy :D) -->
    <div class="form-group col-md-2">
        <button class="btn btn-lg btn-block btn-secondary"(click)="resetForm(task)">
            <i class="fas fa-redo-alt"></i>
          Reset
        </button>
    </div>
  </div>
</form>