<form class="task" #taskForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for = "taskName" >Add task name</label>
      <input class="form-control" placeholder="Task name" 
      name="TaskName" #TaskName="ngModel" 
      [(ngModel)]="task.service.selectedTask.TaskName">
    </div>
    <div class="form-group col-md-6">
        <label for="taskDate" >Add task date</label>
        <input type="date" class="form-control" #TaskDate="ngModel" [(ngModel)]="task.service.selectedTask.TaskDate"/>
      </div>
    <div class="form-group col-md-6">
      <label for="taskDescription">Add task description</label>
      <textarea class="form-control" placeholder="Task description"
       #TaskDescription="ngModel" [(ngModel)]="task.service.selectedTask.TaskDescription">
      </textarea>
    </div>
    

    <div class="form-group col-md-6">
      <label for="customRange1">Dificulty</label>
      <input type="range" class="custom-range" min="0" max="10" step="1">
      <label for="customRange1">1</label>
        
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-lg btn-block btn-primary">
          <i class="far fa-save"></i>
       Submit
      </button>
    </div>
    <div class="form-group col-md-2">
        <button class="btn btn-lg btn-block btn-secondary">
            <i class="fas fa-redo-alt"></i>
          Reset
        </button>
    </div>
  </div>
</form>