<!-- <nav>
    <ul>
        <li>
          <a routerLink = "">
            <i class= "material-icons">supervised_user_circle</i>
          </a>
        </li>
        <li>
          <a routerLink = "posts">
            <i class="material-icons">message</i>
          </a>
        </li>
      </ul>
</nav> -->
<!-- <div class="sidenav">
    <a href="#">Add Task</a>
    <a href="#">Task List</a>
  </div>
   -->
   <!-- <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
     
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fas fa-bars"></i>
          </a>
        </div>
    
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
         <li><a href="#">Task list</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">To do</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" routerLink>Task adding <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aa">Task list</a>
          </li>
          
        </ul>

      </div>
    </nav>